<header class="header" role="banner">
  <div class="header__name-container">
    <h2 class="header__name">
      <a href="/" class="link header__link">Jake Holman</a>
    </h2>
  </div>
  <div class="contact">
    <div class="contact__item contact__item--location">
      {{svg "location"}} England
    </div>
    <div class="contact__item contact__item--phone">
      {{svg "phone"}} +44 7539 448607
    </div>
    <div class="contact__item contact__item--email">
      {{svg "envelope"}} <a href="mailto:hello@jakeisonline.com" class="link link--unbold">hello@jakeisonline.com</a>
    </div>
    <div class="contact__item contact__item--website">
      {{svg "code"}} <a href="/" class="link link--unbold">jakeisonline.com</a>
    </div>
    <div class="contact__item contact__item--website">
      {{svg "linkedin"}} <a href="https://www.linkedin.com/in/jakeholman" target="_blank" class="link link--unbold">jakeholman</a>
    </div>
  </div>
  <h1 class="heading-1">Hands on product leader, with heaps of customer empathy and excitement for product development</h1>
  <section class="header__introduction">
    <p>👋 &nbsp;I'm looking to join a team who truly care about solving problems for customers, think carefully about design, and obsess over good software development.</p>
  </section>
</header>
<section class="work-experience">
  <h3 class="heading-3">Work experience</h3>
  <div class="work-experience__item">
    <h4 class="work-experience__place work-experience__place--with-logo">{{svg "logo-shippo"}} Shippo</h4>
    <span class="work-experience__date">Oct 2018 - Sep 2019</span>
    <h5 class="work-experience__title">Director of Product & Product Advisor</h4>
    <ul class="work-achievements">
      <li class="work-achievements__item">
        Developed a vision for a "Shipping Platform" in which Shippo could be seen as a solution for end-to-end Order Fulfilment rather than just a shipping label procurement app
      </li>
      <li class="work-achievements__item">
        Created a focus around the "Merchant Experience", concentrating on the core workflow of Orders flowing through Shippo, from receiving to the eventual delivery of packages
      </li>
      <li class="work-achievements__item">
        Co-ordination of the first cross-functional quarterly roadmapping, which included sizing potential projects, top- down and bottoms-up prioritisation, resource planning and executive communication of the final plans Migration of multiple incumbent interfaces across two different front-end stacks, into one React-based interface with substantial UX improvements based on months of customer research
      </li>
      <li class="work-achievements__item">
        Major stakeholder in the organisation and execution of Shippo's first customer-focused hackathon, prioritising improvements to both user experience and quality of life of those users
      </li>
      <li class="work-achievements__item">
        Oversaw and championed the gathering, analysis and company-wide distribution of customer research, through a robust combination of in-app surveys, on-site customer visits, user interviews, and the creation of feedback channels with customer facing teams
      </li>
      <li class="work-achievements__item">
        Development and refinement of Shippo's overall Product processes including planning, execution, communication and cross-functional collaboration
      </li>
      <li class="work-achievements__item">
        Introduced Design Sessions for the first time at Shippo to help accelerate projects and bring Product and Engineering working closer together
      </li>
    </ul>
  </div>

  <div class="work-experience__item">
    <h4 class="work-experience__place work-experience__place--with-logo">{{svg "logo-plangrid"}} PlanGrid</h4>
    <span class="work-experience__date">Jan 2019 - Mar 2019</span>
    <h5 class="work-experience__title">Product Consultant</h4>
    <ul class="work-achievements">
      <li class="work-achievements__item">
        Fixed-term Contract to assist in a cross-functional project, force migrating hundreds of thousands of projects to a newer version. Project was planned and executed in a matter of weeks, after years of internal struggles
      </li>
      <li class="work-achievements__item">
        Guided and oversaw development of a self-serve“ upgrade” tool that helps customers one-step through the upgrade
      </li>
      <li class="work-achievements__item">
        Developed internal feedback loops to help customer-facing teams deal with objections and problems arising from upgrade activities
      </li>
    </ul>
  </div>

  <div class="work-experience__item">
    <h4 class="work-experience__place work-experience__place--with-logo">{{svg "logo-zendesk"}} Zendesk</h4>
    <span class="work-experience__date">Feb 2010 - Feb 2017</span>
    <h5 class="work-experience__title">Director of Product Management</h4>
    <ul class="work-achievements">
      <li class="work-achievements__item">
        Leading product vision and execution for two of Zendesk's biggest products, <a href="https://www.zendesk.com/support/" class="link link--subtle" target="_blank">Zendesk Support</a> & <a href="https://www.zendesk.com/guide/" class="link link--subtle" target="_blank">Zendesk Guide</a> (formally, Help Center)
      </li>
      <li class="work-achievements__item">
        Directly managed a team of 7 product managers across 3 countries and 2 products. Oversight included Workflow & Time Management, Channel Management (Email, Twitter, Facebook, and Channel Framework), Agent Experience, Mobile Experience, Knowledge Base Management, and Community Management
      </li>
      <li class="work-achievements__item">
        Oversaw the transition from Zendesk Help Center, a product bundled with Zendesk Support, to Zendesk Guide - a standalone product, sold in its own right. Required overhaul of product vision and staffing. Working with our Marketing and Business units to ensure we could see the correct TAM, and what it would take to be competitive with Salesforce Service Cloud, et. al.
      </li>
      <li class="work-achievements__item">
        Initiated, developed and executed the first the end of life program for features and products. This program took a transparency and customer-first approach, with direct support from the executive staff, and backed by a team of stakeholders from across the company including Program, Sales, Success, Support, and Marketing
      </li>
      <li class="work-achievements__item">
        Published patent <a href="https://patents.google.com/patent/US20160203436" class="link link--subtle" target="_blank">US20160203436 - Methods and systems for presenting and assigning tasks</a>
      </li>
    </ul>
    <h5 class="work-experience__title margin--top-3">Senior Product Manager</h4>
    <ul class="work-achievements">
      <li class="work-achievements__item">
        Lead a team product managers, focused on core product functions of workflow/rules engine, ticketing, administration, ticket fields and the general agent interface
      </li>
      <li class="work-achievements__item">
        Created a product vision for the future of the core product, including critical analysis of each major area, explaining to our peers and the company as a whole what we do, why we do it, and how we're going to do it - this would become routinely updated and communicated
      </li>
      <li class="work-achievements__item">
        Identified problems in our approach to traditional product development including slipped dates, unexpected re-designs, and general productivity and morale problems. Together with a team of confidants, we skunk worked an experiment which allowed us to bring collaboration, transparency, empowerment and happiness to Product Managers, Engineers, Designers, and Customers
      </li>
      <li class="work-achievements__item">
        Pushed for further product development transparency across the organisation, helping to establish a central internal-location Zendesk employees could come to see who we are, and what we're working on
      </li>
      <li class="work-achievements__item">
        Worked closely with fellow product and engineering managers to ensure the core product could scale to support an ever growing number of users, as well as further products and emerging features
      </li>
      <li class="work-achievements__item">
        Product ownership of "Project Lotus", at the time a complete overhaul of the ticketing system for Zendesk, which would later become the "Zendesk Support" product
      </li>
      <li class="work-achievements__item">
        From the ground up, developed and produced a set of Google Chrome extensions for customers, which now has thousands of users
      </li>
      <li class="work-achievements__item">
        Produced "Customer Satisfaction Ratings" (CSAT) allowing customers to give direct feedback about Customer Agent performance, and tying this into tangible reports and leader boards
      </li>
      <li class="work-achievements__item">
        Helped introduce Zendesk's first community support features such as up-voting, feature request forums and community Q&A
      </li>
      <li class="work-achievements__item">
        Produced the ability to share tickets, seamlessly, across Zendesk accounts making ticket collaboration among partners, vendors and sister companies easy. Implemented on top of the Networked Help Desk open standard produced by myself
      </li>
      <li class="work-achievements__item">
        Produced Zendesk's first live chat offering
      </li>
      <li class="work-achievements__item">
        Zendesk's first product manager
      </li>
    </ul>
  </div>
</section>
<section class="education">
  <h3 class="heading-3">Education</h3>
  <div class="work-experience__item">
    <h4 class="work-experience__place">University of Portsmouth</h4>
    <span class="work-experience__date">2004 - 2008</span>
    <h5 class="work-experience__title">B.A. (Hons) Marketing</h4>
    <p class="work-experience__summary">Including an internship with Intel's EMEA marketing team for Xeon and Itanium</p>
  </div>
</section>
