---
import ExampleComponent from "@/components/example-component"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { Button } from "@/components/ui/button"
import Link from "@/components/ui/Link.astro"
import { Icon } from "astro-icon/components"
import Card from "@/components/ui/Card.astro"
import { getCollection } from "astro:content"
import Badge from "@/components/ui/Badge.astro"

export const tools = [{
  name: "next-auth-template",
  description: "A template for Next.js with NextAuth, Drizzle ORM, and Tailwind CSS.",
  icons: ["logos/nextjs", "logos/authjs"],
  id: "next-auth-template"
}]

const componentPages = await getCollection("components")
---

<BaseLayout
  title="Playground"
  description="A collection of accessible and highly interactive components, templates, and other bits and bobs. Free. Installable. Open Source. From Jake Holman (@jakeisonline)."
>
  <div class="w-full">
    <div class="w-full lg:mt-8 mt-4">
      <h1>
        <span class="flex items-center 2xl:text-8xl duration-700 lg:text-6xl md:text-5xl text-3xl tracking-tight xl:text-7xl">🛝 Free components</span>
        <span class="md:text-2xl text-base text-muted-foreground">and other fun stuff for your projects</span>
      </h1>
    </div>
    <div class="mt-3 mb-8 gap-1.5 flex flex-col md:flex-row">
      <Link href="/playground/introduction" noStyle>
        <Button className="w-full md:w-auto">
          Get started
        </Button>
      </Link>
      <Link href="https://github.com/jakeisonline/playground" noStyle noIcon>
        <Button className="w-full md:w-auto" variant="link">
          See it on GitHub
        </Button>
      </Link>
    </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-3 mt-3 not-prose">
      {
        componentPages.map((page) => (

          <a href={`/playground/components/${page.id}`} class="relative group">
            <Card class="pointer-events-none">
              <div class="flex w-auto justify-center p-6 pt-8">
                <ExampleComponent
                  name={page.data.component}
                  client:load
                  data-astro-rerun
                />
                <div class="absolute bottom-1 left-1 right-1 width-full px-3 py-2.5 bg-gradient-to-b from-transparent from-5% to-background/95 to-70% transition-colors duration-200">
                  <div class="flex items-center">
                    <h2 class="text-lg font-bold group-hover:text-link-hover group-hover:underline group-hover:underline-offset-4 group-hover:decoration-dotted flex">{page.data.title}
                    </h2>
                    {page.data.isNew && <Badge variant="secondary" class="ml-1.5 mt-0.5 text-2xs px-2 py-0">New</Badge>}
                  </div>
                  <p class="text-sm text-muted-foreground group-hover:text-foreground">{page.data.shortDescription}</p>
                </div>
              </div>
            </Card>
          </a>

        ))
      }
    </div>

    <h2 class="text-2xl font-medium mt-12">Free Tools</h2>
    <p class="text-muted-foreground">A growing collection of tools for web development, that you might find handy.</p>
    <div class="grid lg:grid-cols-3 gap-3 mt-3 not-prose mb-20">
      {
        tools.map((tool) => (
          <a href={`/playground/tools/${tool.id}`}>
            <div class="bg-card text-card-foreground rounded-lg border shadow-sm">
      <div class="flex flex-col min-h-22 w-auto p-6 pt-6">
        <div class="flex items-center gap-2 pb-3">
          {
            tool.icons.map((icon) => (
              <Icon name={icon} class="w-8 h-8" />
            ))
          }
        </div>
        <h3 class="text-lg font-medium">{tool.name}</h3>
        <p class="text-sm text-muted-foreground">{tool.description}</p>
      </div>
    </div>
          </a>
        ))
      }
    </div>
</BaseLayout>
