---
import { cn, slugify } from "@/lib/utils"

const { post, class: className = "" } = Astro.props
const postData = post.data

const categorySlug = slugify(postData.category)
---

<article
  class={cn(
    "hover:bg-muted/50 group relative isolate -ml-5 flex flex-col gap-2 rounded-lg px-5 py-4",
    className,
  )}
>
  <h2 class="text-lg font-bold">
    <a href={`/${categorySlug}/${post.id}`} class="group-hover:text-link">
      <span class="absolute inset-0 z-10"></span>
      {postData.title}</a
    >
  </h2>
  {
    postData.subtitle && (
      <p class="text-sm font-semibold text-muted-foreground -mt-2">
        {postData.subtitle}
      </p>
    )
  }
  <p>{postData.description}</p>
  <p
    class="text-muted-foreground group-hover:text-foreground mt-1 text-xs font-semibold"
  >
    <a href={`/${categorySlug}/${post.id}`}>Read more</a>
  </p>
</article>
