---
const { post } = Astro.props
const postData = post.data
---

<article class="flex flex-col gap-2">
  <h2 class="text-lg font-bold">
    <a href={`/blog/${post.id}`}>{postData.title}</a>
  </h2>
  {
    postData.subtitle && (
      <p class="text-sm font-semibold text-muted-foreground -mt-2">
        {postData.subtitle}
      </p>
    )
  }
  <p class="text-sm text-muted-foreground">{postData.description}</p>
  <p class="mt-1 text-xs font-semibold text-muted-foreground">
    <a href={`/blog/${post.id}`}>Read more</a>
  </p>
</article>
