---
import type { SubNavItemWithSubItems } from "@/components/blocks/sub-nav.astro"
import Badge from "@/components/ui/badge.astro"
import Link from "@/components/ui/link.astro"
import { cn } from "@/lib/utils"

interface Props {
  item: SubNavItemWithSubItems
}

const { item } = Astro.props
const currentPath = Astro.url.pathname
const itemIsCurrent = item.type === "item" && currentPath.includes(item.href)

if (!item) return null
---

{
  item.type === "heading" && (
    <li class="not-first:mt-4">
      <h4 class="sub-heading font-heading pb-1 scroll-m-20 text-sm font-semibold tracking-tight pl-1.5">
        {item.text}
      </h4>
    </li>
  )
}
{
  item.type === "item" && (
    <li>
      <Link
        href={item.href}
        class={cn(
          "hover:text-link-hover underline-offset-4 underline decoration-transparent decoration-dotted transition-colors duration-300 ease-out hover:decoration-link-hover py-1 rounded-sm group flex items-center -mx-1 px-2.5",
          itemIsCurrent ? "text-foreground bg-accent" : "text-foreground/60",
        )}
        aria-current={itemIsCurrent ? "page" : undefined}
      >
        {item.text}{" "}
        {item.badge && (
          <Badge
            variant={item.badge.variant}
            class="ml-1.5 text-[0.7rem] px-2 py-0"
          >
            {item.badge.label}
          </Badge>
        )}
      </Link>
    </li>
  )
}
{
  item.subItems.length > 0 &&
    item.subItems.map((subitem: any) => <Astro.self item={subitem} />)
}
