---
import SubNav, { type SubNavItems } from "@/components/SubNav.astro"
import ToC, { type ToCHeadingsType } from "@/components/ToC.astro"
import Breadcrumb from "@/components/ui/Breadcrumb.astro"
import BaseLayout from "./BaseLayout.astro"
import { getCollection } from "astro:content"

const getGeneralNavItems = async () => {
  const generalPages = await getCollection("general")
  return generalPages.map((page) => ({
    type: "item", href: `/playground/${page.slug}`, text: page.data.title,
  }))
}

const getComponentNavItems = async () => {
  const componentPages = await getCollection("components")
  return componentPages.map((page) => ({
    type: "item", href: `/playground/components/${page.slug}`, text: page.data.title,
  }))
}

const getToolNavItems = async () => {
  const toolPages = await getCollection("tools")
  return toolPages.map((page) => ({
    type: "item", href: `/playground/tools/${page.slug}`, text: page.data.title,
  }))
}

const generalNavItems = await getGeneralNavItems()
const componentNavItems = await getComponentNavItems()
const toolNavItems = await getToolNavItems()

const navItems = [
  { type: "heading", text: "About" },
  ...generalNavItems,
  { type: "heading", text: "Components" },
  ...componentNavItems,
  { type: "heading", text: "Tools" },
  ...toolNavItems,
]

interface Props {
  frontmatter?: Record<string, string>
  title: string
  description: string
  headings?: ToCHeadingsType
}

const {
  frontmatter,
  title = frontmatter?.title,
  description = frontmatter?.description,
  headings,
} = Astro.props
---

<BaseLayout title={title} description={description}>
  <div
    class="container flex-1 pt-6 pb-20 items-start md:grid lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
  >
    <SubNav navItems={navItems as SubNavItems} />
    <div class="relative lg:grid grid-cols-full xl:grid-cols-[1fr_300px]">
      <div class="mx-auto w-full min-w-0">
        <Breadcrumb homeOverridePath="/playground" ignorePaths={["playground"]} />
        <article
          class="prose prose-h2:border-b prose-h2:pb-2 prose-headings:scroll-m-20 prose-headings:tracking-tight prose-h1:text-3xl prose-headings:font-bold prose-h1:mb-0 dark:prose-invert mt-4"
        >
          <slot />
        </article>
      </div>
      <ToC headings={headings} excludeTitle class="hidden xl:block" />
    </div>
  </div>
</BaseLayout>
